[submodule "bundle/vim-fireplace"]
	path = bundle/vim-fireplace
	url = git@github.com:tpope/vim-fireplace.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = git@github.com:mattn/emmet-vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/neocomplete.vim"]
	path = bundle/neocomplete.vim
	url = git@github.com:Shougo/neocomplete.vim.git
[submodule "bundle/rainbow_parentheses.vim"]
	path = bundle/rainbow_parentheses.vim
	url = git@github.com:kien/rainbow_parentheses.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "bundle/vim-classpath"]
	path = bundle/vim-classpath
	url = git@github.com:tpope/vim-classpath.git
[submodule "bundle/vim-clojure-highlight"]
	path = bundle/vim-clojure-highlight
	url = git@github.com:guns/vim-clojure-highlight.git
[submodule "bundle/vim-clojure-static"]
	path = bundle/vim-clojure-static
	url = git@github.com:guns/vim-clojure-static.git
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = git@github.com:tpope/vim-dispatch.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = git@github.com:Lokaltog/vim-easymotion.git
[submodule "bundle/vim-leiningen"]
	path = bundle/vim-leiningen
	url = git@github.com:tpope/vim-leiningen.git
[submodule "bundle/vim-projectionist"]
	path = bundle/vim-projectionist
	url = git@github.com:tpope/vim-projectionist.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "bundle/vim-sexp"]
	path = bundle/vim-sexp
	url = git@github.com:guns/vim-sexp.git
[submodule "bundle/vim-sexp-mappings-for-regular-people"]
	path = bundle/vim-sexp-mappings-for-regular-people
	url = git@github.com:tpope/vim-sexp-mappings-for-regular-people.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
